#root {
  color: #F2F9FE;
  font-size: 16px;
}

.property-app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px 40px 40px;
}

.bg-img {
  position: relative;
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.title-cont {
  position: absolute;
  top: 180px;
  left: 140px;
  width: 500px;
  color: #121826;
}

.title {
  font-size: 4rem;
  line-height: 1.25;
}

.subtitle {
  font-size: 1.5rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 72px;
  margin-top: 32px;
}